

.modal {
    background-color: white;
    width: 70%;
    height: 50%;
    top: 50%;
    left: 30%;
    transform: translate(20%, 50%);

    display: flex;
    flex-direction: row;
}

.img {
    min-width: 50%;
    min-height: 100%;

}

.data {
    min-width: 50%;
    min-height: 100%;
    flex-grow: 1; 
    overflow-y: auto;
}
